.newsfeed-post-wrapper {
    min-height: 100px;
    width: 100%;
    background-color: rgb(231, 248, 255);
    margin: 7px 0;
    border-radius: 5px;
}

.newsfeed-post-content {
    padding: 5px;
}

.newsfeed-post-wrapper h3 {
    padding: 0;
}

.newsfeed-post-wrapper .delete {
    position: absolute;
    top: 2px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
}

.newsfeed-post-wrapper span {
    font-size: .7em;
    font-weight: 600;
}

.newsfeed-post-header {
    background-color: rgb(219, 234, 240);
    display: flex;
    align-items: center;
    position: relative;
}

.newsfeed-post-header img {
    height: 50px;
    margin-top: 5px;
}

.newsfeed-post-header-text {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.comment-wrapper {
    background-color: rgb(229, 241, 246);
}

.comment-header {
    text-align: right;
    padding: 5px;
}

.comment-header p {
    display: inline-block;
}

.comment-header .breakspace {
    padding: 0 7px;
}