.newsfeed-post-wrapper {
    min-height: 100px;
    width: 100%;
    background-color: rgb(231, 248, 255);
    margin: 7px 0;
    border-radius: 5px;
}

.newsfeed-post-content {
    padding: 10px;
}

.newsfeed-post-wrapper h3 {
    padding: 0;
}

.newsfeed-post-wrapper .delete {
    position: absolute;
    top: 2px;
    right: 5px;
    font-weight: bold;
    cursor: pointer;
}

.newsfeed-post-wrapper span {
    font-size: .7em;
    font-weight: 600;
}

.newsfeed-post-header {
    background-color: rgb(219, 234, 240);
    display: flex;
    align-items: center;
    position: relative;
}

.newsfeed-post-header img {
    height: 50px;
    margin-top: 5px;
}

.newsfeed-post-header-text {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.comment-wrapper {
    background-color: rgb(229, 241, 246);
    
}

.news-update-wrapper .comment-form {
    padding-left: 10px;
    margin-left: 7px;
    border-left: 4px solid rgba(0, 0, 0, 0.6);
    border-top: 3px solid rgba(255, 255, 255, 0.7);
}

.comment-header {
    text-align: right;
    padding: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.comment-header p {
    display: inline-block;
    cursor: pointer;
}

.comment-header .breakspace {
    padding: 0 7px;
    cursor: default;
}

.comment-content {
    border-top: 3px solid rgba(255, 255, 255, 0.7);
    border-left: 4px solid rgba(0, 0, 0, 0.6);
    padding: 5px 5px 5px 12px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.comment-content h3, span, p {
    padding: 1px;
}

.comment-content h3 {
    font-size: 1em;
}

.comment-content span {
    font-size: .6em;
}

.comment-content p {
    font-size: .85em;
    padding: 4px 2px;
}